name: publish to nuget
on:
  push:
    branches:
      - master
jobs:
  publish:
    name: build, pack & publish
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.*

      # Publish
      - name: publish on version change
        id: publish_nuget
        uses: brandedoutcast/publish-nuget@v2.5.5
        with:
          PROJECT_FILE_PATH: QAttribute/QAttribute.csproj # Filepath of the project to be packaged, relative to root of repository
          BUILD_CONFIGURATION: Release # Configuration to build and package
          BUILD_PLATFORM: x64  # Platform target to compile (default is empty/AnyCPU)
          PACKAGE_NAME: QAttribute # NuGet package id, used for version detection & defaults to project name
          # VERSION_FILE_PATH: Directory.Build.props # Filepath with version info, relative to root of repository & defaults to PROJECT_FILE_PATH
          # VERSION_REGEX: ^\s*<Version>(.*)<\/Version>\s*$ # Regex pattern to extract version info in a capturing group
          # TAG_COMMIT: true # Flag to toggle git tagging, enabled by default
          # TAG_FORMAT: v* # Format of the git tag, [*] gets replaced with actual version
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} # API key to authenticate with NuGet server
          # NUGET_SOURCE: https://api.nuget.org # NuGet server uri hosting the packages, defaults to https://api.nuget.org
          # INCLUDE_SYMBOLS: false # Flag to toggle pushing symbols along with nuget package to the server, disabled by default
